[Unit]
Description=AdaptText
After=network.target

[Service]
User=root
WorkingDirectory=/var/adapttext/api
EnvironmentFile=/var/adapttext/api/.env
ExecStart=ddtrace-run /var/adapttext/api/env/bin/flask run --host=0.0.0.0
Restart=always

[Install]
WantedBy=multi-user.target