server {
    listen 80;
    root /var/adapttext/build;
    index index.html;

    location / {
        try_files $uri $uri/ /index.html;
    }

    location /api {
        include proxy_params;
        proxy_pass http://localhost:8080;
    }
}