wikiextractor==0.01
matplotlib==3.1.1
torchvision
sentencepiece==0.1.95
ninja==1.10.0
emoji==1.2.0
gunicorn==20.0.4
# torch===1.7.0
torch
python-dotenv==0.15.0
dropbox==11.2.0
dataclasses==0.6
spacy==2.3.5
# numpy==1.17.0
# pandas==0.25.0
scikit-learn==0.24.1
fastprogress