blinker==1.4
wrapt==1.12.1
smart-open==3.0.0
inflection==0.3.1
wikiextractor==0.01
matplotlib==3.3.4
torchvision
sentencepiece==0.1.95
ninja==1.10.0
emoji==1.2.0
gunicorn==20.0.4
# torch===1.7.0
torch
python-dotenv==0.15.0
dropbox==11.2.0
dataclasses==0.6
spacy==3.0.3
# numpy==1.17.0
# pandas==0.25.0
scikit-learn==0.24.1
fastprogress
flask-mail==0.9.1
flask==1.1.2
flask_cors
flask_sqlalchemy
flask-praetorian